<!DOCTYPE html>
<html>
    <body>
      <div>
        <ul id="messages"></ul>
      </div>
      <div>
        <input id="message" type="text" />
        <button onclick="handleSendMSG()">submit</button>
      </div>

      <script src="/home/index.js"></script> 
    </body>
</html>